<div class="menu bg-white h-full px-2">
    <div class="px-6 py-3 rounded truncate cursor-pointer font-medium hover:bg-gray-200">Cấu phần xử lý</div>
    <div class="px-6 py-3 rounded truncate cursor-pointer font-medium bg-teal-100">Tham số danh mục theo nhóm</div>
    <div class="px-6 py-3 rounded truncate cursor-pointer font-medium hover:bg-gray-200">Kênh thanh toán</div>
    <div class="px-6 py-3 rounded truncate cursor-pointer font-medium hover:bg-gray-200">Mã loại điện tra soát</div>
    <div class="px-6 py-3 rounded truncate cursor-pointer font-medium hover:bg-gray-200">Tiêu chí dừng phân kênh tham số</div>
    <div class="px-6 py-3 rounded truncate cursor-pointer font-medium hover:bg-gray-200">Tạm dừng phân kênh</div>
    <div class="px-6 py-3 rounded truncate cursor-pointer font-medium hover:bg-gray-200">Cấu hình định tuyến kênh...</div>
    <div class="px-6 py-3 rounded truncate cursor-pointer font-medium hover:bg-gray-200">Kênh phân phối/ứng dụng</div>
    <div class="px-6 py-3 rounded truncate cursor-pointer font-medium hover:bg-gray-200">Tiêu chí chấm điểm cho kênh...</div>
</div>
