/* Button Reset */
.btn-reset {
  display: inline-block;
  border-radius: 8px;
  transition: all 0.5s ease;
  overflow: hidden;
  position: relative;
  text-transform: capitalize;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.btn-reset::before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5s;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}
.btn-reset::after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translateX(-100px) skewX(-15deg);
}
.btn-reset:hover {
  background-color: var(--color-neutral-400);
  color: #fff;
}
.btn-reset:hover::before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  transition: all linear 0.5s;
}
.btn-reset:hover::after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  transition: all linear 0.5s;
}

/* Button Search */
.btn-search {
  background-color: var(--color-teal-700);
  display: inline-block;
  border-radius: 8px;
  transition: all 0.5s ease;
  overflow: hidden;
  position: relative;
  text-transform: capitalize;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.btn-search::before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5s;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}
.btn-search::after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translateX(-100px) skewX(-15deg);
}
.btn-search:hover {
  background-color: var(--color-teal-700);
  color: #fff;
}
.btn-search:hover::before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  transition: all linear 0.5s;
}
.btn-search:hover::after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  transition: all linear 0.5s;
}
